@model IEnumerable<Project_Management_System.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
       
    @Html.ActionLink("Create New Project", "Create")
        
    }
</p>
<table class="table">
    <tr>
        <th>
            Project name
        </th>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Manager 
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.Name)
        </td>
        <td>

            @*@Html.ActionLink("My role", "ShowUserRoles", new { id = item.id })  |*@
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "DetailsbyProject", "Tasks", new { id = item.id }, null) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
